.main {
    
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

}


#massage-signout {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;
 
}

#message {
    display: none;
}

#logout {
    display: none;
    padding: 15px;
    width: 130px;
    margin-left: 15px;
    color: aliceblue;
    background-color: #000;
    margin-top: -41px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    font-size: 18px;
}


#head{
    font-size: 24px;
    outline: 0px!important;
    text-align: left;
    line-height: normal;
    font-family: apercu;
    font-weight: 400;
    margin-bottom: 20px;
}
#msg{
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: -.12px;
    font-family: Benton Mod Text Rom;
    line-height: normal;
}

#login_email{
    margin-bottom: 10px;
    width: 500px;
    font-family: apercu;
    color: #000;
    font-size: 15px;
    letter-spacing: -.11px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    padding: 12px;
}

#login_password{
    margin-bottom: 10px;
    width: 500px;
    font-family: apercu;
    color: #000;
    font-size: 15px;
    letter-spacing: -.11px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    padding: 12px;
}
#login{
    margin-bottom: 10px;
    margin-top: 15px;
    width: 523px;
    font-family: apercu;
    color: aliceblue;
    background-color: #000000;
    font-size: 15px;
    letter-spacing: -.11px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    padding: 12px;
    text-align: center;
}
#heads{
    text-align: left;
    margin-left: -290px;
    margin-bottom: -15px;
}
.logo-container > img{
    margin: 25px;

}
#forget{
text-align: left;
margin-left: -250px;
margin-bottom: -80px;
color: #373636;
}

#subs{
    text-align: left;
margin-left: -249px;
color: #373636;
}
#logups{
    margin-top: 40px;
}
#logup{
    color: rgb(27, 33, 18);
    
}

#sub{
    /* margin-top: 15px; */
}
/* Add more of your existing CSS styles here */
#login:hover{
    background-color:whitesmoke;
    color: black;
}
#span{
    font-size: 28px;
}