#main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 200px;
}

#name{
    margin-bottom: 15px;
    margin-top: 25px;
    width: 500px;
    font-family: apercu;
    color: #000;
    font-size: 15px;
    letter-spacing: -.11px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    padding: 15px;
    height: 25px;
}
#lname{
    margin-bottom: 15px;
    width: 500px;
    font-family: apercu;
    color: #000;
    font-size: 15px;
    letter-spacing: -.11px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    padding: 15px;
    height: 25px;
}
#email{
    margin-bottom: 15px;
    width: 500px;
    font-family: apercu;
    color: #000;
    font-size: 15px;
    letter-spacing: -.11px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    padding: 15px;
    height: 25px;
}

#password{
    margin-bottom: 15px;
    width: 500px;
    font-family: apercu;
    color: #000;
    font-size: 15px;
    letter-spacing: -.11px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    padding: 15px;
    height: 25px;
}

#register{
   
    margin-bottom: 15px;
    margin-top: 15px;
    width: 530px;
    font-family: apercu;
    color: aliceblue;
    background-color: #000;
    font-size: 15px;
    letter-spacing: -.11px;
    border: solid 1px #000000;
    border-radius: 28.5px;
    padding: 15px;
    height: 50px;
    padding-bottom:15px ;
    padding-top: 12px;
}

#Already{
    display: flex;
    justify-content: center;
    color: gray;
}
#main > h1{
    font-size: 28px;
    outline: 0px!important;
    text-align: left;
    line-height: normal;
    font-family: apercu;
    font-weight: 400;
    margin-bottom: 20px;
}

#para{
    font-size: 18px;
    outline: 0px!important;
    text-align: left;
    line-height: normal;
    font-family: apercu;
    font-weight: 400;
    margin-bottom: 20px;
}
#span{
    font-size: 24px;
}
#check{
    margin-left: 25px;

    
}
h1{
    margin-left: -410px;
    /* margin-bottom: -30px; */
    margin-top: 80px;
}
p{
    margin-left: -250px;
    margin-top: -2px;
    
}
#register:hover{
color: #000000;
background-color:whitesmoke;
}
