body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#main_nav {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid black;
}

#main_nav > div {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid black;
}

#main_nav > div:last-child {
    border-right: none;
    border-bottom: 1px solid transparent; /* Transparent border to fill the gap */
}

#main_nav > div a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
    transition: color 0.3s ease;
}

#main_nav > div a:hover {
    color: #66ccff;
}
#profile{
    width: 60px;
    margin-left: -20px;
    margin-right: -12px;
    margin-top: -20px;
    margin-bottom: -25px;
}
#cart {
    width: 40px;
}


#logo{
    width: 100px;
   height: 80px;
    margin-left: -20px;
    margin-right: -12px;
    margin-top: -20px;
    margin-bottom: -20px;

}